* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heroBanner {
  position: absolute;
  right: 40px;
  top: 0px;
  width: 700px;
  height: 900px;
  margin-top: -330px;
}

.searchButton:hover {
  color: #ff2625;
  border: 1px solid #ff2625;
}

@media (max-width: 1200px) {
  .heroBanner {
    display: none;
  }
}
